@import "../_core.scss";

._about {
  background-color: #e7ebe8;

  @include flex(1em, space-between, center);
}
._about-info {
  width: 90%;
  @include flex(2em, column);
}
._about-title {
  @include font(#202125, $PT-Rout, 600, 2.5em);
  text-transform: uppercase;
}
._about-subtitle {
  @include font(#202125, $PT-Rout, 600, 1em, 1.5em);
}
