@import "../_core.scss";

._about{
    background-color: #E7EBE8;
    display: flex;
    align-items: center;
}
._about-info{
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 90%;
}
._about-title{
    @include font(#202125, $PT-Rout, 600, 2.5em);
    text-transform: uppercase;
}
._about-subtitle{
    @include font(#202125, $PT-Rout, 600, 1em,1.5em);
}